/* max height */
@media screen and (max-height: 690px) {
	.login-scroll {
		overflow: hidden;
		overflow-y: scroll !important;
	}
}


/* max width */
@media screen and (max-width: 1200px) {
	.bg-price {
		height: 730px;
	}
}
@media screen and (max-width: 1000px) {
	.section {
		padding: 0 60px;
	}
	.nav-main {
		padding: 50px 60px 12px 50px;
	}
	.ptb {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	.p-t-320 {
		padding-top: 350px;
	}
}

@media screen and (max-width: 891px) {
	.dark {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 9;
	}

	.menu {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		margin-left: -300px;
		width: 250px;
		background-color: var(--primary);	
		z-index: 99;
		padding:40px 20px 20px 20px;
		transition: 0.5s;
	}

	.menu a {
		color: #fff;
		font-family: 'Poppins';
		font-weight:700;
		display: block;
		width: 100%;
		margin-bottom:10px;
	}

	.menu .button {
		font-family: 'Nunito Sans', sans-serif;
		padding: 5px 20px;
		color: #52509D;
		background-color: #ffffff;
		border-radius: 100px;
		margin-left:10px;
		text-align:center;
	}

	.menu .button-coba {
		font-family: 'Nunito Sans', sans-serif;
		padding: 5px 20px;
		color: #ffffff;
		background-color: var(--secondary);
		border-radius: 100px;
		margin-left:10px;
		text-align:center;
	}
	.bars-default {
		display: block;
	}

	.close-bars-default {
		position: fixed;
		right: 0;
		top: 0;
		margin: 30px 30px;
		z-index: 999999;
	}

	.card-price {
		padding: 40px 10px 40px 10px;
	}
}

@media screen and (max-width: 767px) {
	.bars-default {
		margin-top: -32px;
	}

	.m30-scroll {
		margin-top: 30px;
	}

	.p-t-320 {
		padding-top: 500px;
	}

	.scroll {
		overflow-y: scroll !important;
	}
}

@media screen and (max-width: 670px) {
}

@media screen and (max-width: 630px) {
	.p-t-320 {
		padding-top: 600px;
	}
}

@media screen and (max-width: 500px) {
	.fs-40 {
		font-size: 30px;
	}
	.gif-fitur {
		width: 100%;
	}
	.fs-22 {
		font-size: 18px;
	}
	.fs-18 {
		font-size: 16px;
	}
	.header {
		padding: 0 0px;
	}
	.nav-main {
		padding: 50px 50px 12px 50px;
	}
	.ptb {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.section {
		padding: 25px 40px;
	}
	.card-price {
		padding: 20px 2px 20px 2px;
	}
	.p-t-320 {
		padding-top: 280px;
	}
	.bg-clien {
		height: 200px;
	}
}

@media screen and (max-width: 420px) {
	.p-t-320 {
		padding-top: 450px;
	}

	.nav-main {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	#bg-header .input-group {
		padding: 20px;
		background-color: white;
		border-radius: 35px;
	}
	
	#lingkup-usaha .person-model{
		display:none;
	}
	#lingkup-usaha .desc {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#bg-header form {
		width: 100%;
		text-align: center;
	}
	#bg-header .input-group {
		display:block;
	}
	#bg-header .input-group input {
		width: 100%;
		padding: 10px 20px;
		border-radius: 30px;
		z-index: 1;
	}
	#bg-header .input-group button {
		margin-left:0px;
		width: 100%;		
		background-color: var(--primary);
		padding: 13px 20px;
		border-radius: 30px;
		border: 0px;
		z-index: 2;
		margin-top: 8px;
	}

	#lingkup-usaha .card-lingkup {
		margin-top:20px;
		padding: 10px 20px;
		border-radius: 20px;
		display:block;
		transition-duration: 0.5s;
	}
	
	#service {
		background-color: var(--primary);
		min-height: 800px;
		padding : 40px 20px 40px 20px
	}

	#price-list .price-area {
		padding: 50px 30px 40px 30px;
	}
	.price-card .price-month {
		line-height: 35px;
	}

	.price-card .price-years {
		line-height: 35px;
	}

}